redirects: on

framework: net462

source https://api.nuget.org/v3/index.json

nuget Dapper
nuget Microsoft.AspNet.Mvc
nuget Microsoft.AspNet.Web.Optimization
nuget System.Data.SQLite.Core
nuget Unity ~> 4.0.1
