@import "./vendor/bootstrap/bootstrap.scss";

.container {
    max-width: map-get($grid-breakpoints, "md");
}

.credential {
    display: flex;
    flex-wrap: wrap;
}

.btn-credential-show-detail {
    border: solid 1px #e0e0e0;
    border-radius: 3px;
    text-align: left;
    width: 100%;
}

.btn-credential-username {
    font-size: 0.9rem;
    color: #808080;
}

.btn-credential-open, .btn-credential-copy {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

@media (max-width: map-get($grid-breakpoints, "md")) {
    .btn-credential-open, .btn-credential-copy {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
    .credential {
        flex-wrap: nowrap;
    }

    .btn-credential-show-detail {
        flex-grow: 1;
        justify-content: end;
    }

    .btn-credential-open, .btn-credential-copy {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100px;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}

.search-input {
    position: relative;
}

#clear-search {
    position: absolute;
    top: 0;
    right: 0;
}

#spinner {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    background-color: #000;
    border-bottom-left-radius: 3px;
    padding: 3px 3px 1px 5px;
}

.copy-link, .copy-link:hover, .copy-link:visited, .copy-link:active {
    text-decoration: none;
    cursor: pointer;
}

.copy-link span.copied {
    color: $success;
}

.password-character-table {
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    width: 100%;
}

.password-character-table th, .password-character-table td {
    text-align: center;
    font-size: 14px;
    padding: 3px 0 2px 0 !important;
}

.password-strength .status {
    font-size: 0.8rem;
}

.extremely-weak {
    background-color: #e43e3b;
}

.very-weak {
    background-color: #e66f6d;
}

.weak {
    background-color: #e08056;
}

.average {
    background-color: #de9c41;
}

.strong {
    background-color: #acf36c;
}

.very-strong {
    background-color: #8edd70;
}

.extremely-strong {
    background-color: #5cbb37;
}
