@import "./vendor/bootstrap/bootstrap.scss";

.container {
    max-width: map-get($grid-breakpoints, "md");
}

.credential {
    display: flex;
    flex-wrap: wrap;
}

.btn-credential-show-detail {
    border: solid 1px #e0e0e0;
    border-radius: 3px;
    text-align: left;
    width: 100%;
}

.btn-credential-username {
    font-size: 0.9rem;
    color: #808080;
}

.btn-credential-open, .btn-credential-copy {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

@media (max-width: map-get($grid-breakpoints, "md")) {
    .btn-credential-open, .btn-credential-copy {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
    .credential {
        flex-wrap: nowrap;
    }

    .btn-credential-show-detail {
        flex-grow: 1;
        justify-content: end;
    }

    .btn-credential-open, .btn-credential-copy {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100px;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
}

.search-input {
    position: relative;
}

#clear-search {
    position: absolute;
    top: 0;
    right: 0;
}

#spinner {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    background-color: #000;
    border-bottom-left-radius: 3px;
    padding: 3px 3px 1px 5px;
}

.copy-link, .copy-link:hover, .copy-link:visited, .copy-link:active {
    text-decoration: none;
    cursor: pointer;
}

.copy-link span.copied {
    color: $success;
}

.password-character-table {
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    width: 100%;
}

.password-character-table th, .password-character-table td {
    text-align: center;
    font-size: 14px;
    padding: 3px 0 2px 0 !important;
}

.password-strength .status {
    font-size: 0.8rem;
}

.extremely-weak {
    background-color: #e43e3b;
}

.very-weak {
    background-color: #e66f6d;
}

.weak {
    background-color: #e08056;
}

.average {
    background-color: #de9c41;
}

.strong {
    background-color: #acf36c;
}

.very-strong {
    background-color: #8edd70;
}

.extremely-strong {
    background-color: #5cbb37;
}

.row-detail[class*="mb-"]:last-child {
    margin-bottom: 0 !important;
}

/* BEGIN MAB.Bootstrap.TagInput */

.mab-bootstrap-taginput {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: text;
}

.mab-bootstrap-taginput.form-control {
    line-height: normal;
    height: auto;
    padding-top: 0;
}

.mab-bootstrap-taginput-tag {
    color: #fff;
    background-color: #007bff;
    display: inline-flex;
    align-items: center;
    padding: .15em .4em;
    font-size: 90%;
    font-weight: 700;
    white-space: nowrap;
    border-radius: .25rem;
    margin-top: .365rem;
    margin-right: 5px;
    transition: background-color 1600ms ease-in;
}

.mab-bootstrap-taginput-tag .bi {
    margin-left: 5px;
    font-size: 80%;
    cursor: pointer;
    display: flex;
}

.mab-bootstrap-taginput-tag-warning {
    background-color: #cc0000;
    transition: none;
}

.mab-bootstrap-taginput-input {
    border: solid 1px transparent;
    outline: none;
    width: 100px;
    text-transform: lowercase;
    padding: 0;
    margin-top: .375rem;
}

.mab-bootstrap-taginput-input.mab-bootstrap-taginput-input-multicase {
    text-transform: none;
}

.mab-bootstrap-taginput-input.mab-bootstrap-taginput-input-narrowed {
    width: 1px;
}

.mab-bootstrap-taginput-input-container {
    position: relative;
}

.mab-bootstrap-taginput-suggestions {
    position: absolute;
    top: 30px;
    left: 0;
    min-width: 200px;
    min-height: 30px;
    background-color: #fff;
    border: solid 1px #e0e0e0;
    border-radius: 3px;
    padding: 3px 0;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    z-index: 10000;
}

.mab-bootstrap-taginput-suggestions-hidden {
    display: none;
}

.mab-bootstrap-taginput-suggestion {
    padding: 5px 10px;
    cursor: pointer;
}

.mab-bootstrap-taginput-suggestion-selected,
.mab-bootstrap-taginput-suggestion:hover {
    background-color: #007bff;
    color: #fff;
}

/* END MAB.Bootstrap.TagInput */
