@{
    var homeUrl = Url.Action("Index", "Main", null).TrimEnd('/');
}

<script id="tmpl-modalheader" type="text/x-handlebars-template">
    <div class="modal-header">
        {{#if showClose}}
        <button type="button" class="close btn-close"><span aria-hidden="true">&times;</span><span class="sr-only">{{closeText}}</span></button>
        {{/if}}
        <h4 class="modal-title">{{title}}</h4>
    </div>
</script>

<script id="tmpl-modalbody" type="text/x-handlebars-template">
    <div class="modal-body">
        {{{content}}}
    </div>
</script>

<script id="tmpl-modalfooter" type="text/x-handlebars-template">
    <div class="modal-footer">
        {{#if showEdit}}
        <button type="button" class="btn btn-primary btn-edit" data-credentialid="{{credentialId}}"><span class="fa fa-pencil"></span> {{editText}}</button>
        {{/if}}
        {{#if showDelete}}
        <button type="button" class="btn btn-danger btn-delete" data-credentialid="{{credentialId}}"><span class="fa fa-trash-o"></span> {{deleteText}}</button>
        {{/if}}
        {{#if showAccept}}
        <button type="submit" class="btn btn-primary btn-accept"><span class="fa fa-check"></span> {{acceptText}}</button>
        {{/if}}
        {{#if showClose}}
        <button type="button" class="btn btn-default btn-close"><span class="fa fa-times"></span> {{closeText}}</button>
        {{/if}}
    </div>
</script>

<script id="tmpl-urllink" type="text/x-handlebars-template">
    <a class="display-link" href="{{Url}}" onclick="window.open(this.href); return false;">{{{UrlText}}}</a>
</script>

<script id="tmpl-urltext" type="text/x-handlebars-template">
    <span class="full">{{truncate Url 50}}</span>
    <span class="truncated">{{truncate Url 26}}</span>
</script>

<script id="tmpl-copylink" type="text/x-handlebars-template">
    <a class="copy-link" href="#">Copy <span class="fa fa-fw fa-clone"></span></a>
    <input type="text" class="copy-content" value="{{Content}}" />
</script>

<script id="tmpl-detail" type="text/x-handlebars-template">
    {{#if Url}}
    <div class="row row-detail">
        <div class="col-xs-24 col-sm-5 row-detail-header">Url</div>
        <div class="col-xs-6 col-sm-4">{{> copylink Content=Url }}</div>
        <div class="col-xs-18 col-sm-15">{{{UrlHtml}}}</div>
    </div>
    {{/if}}
    {{#if Username}}
    <div class="row row-detail">
        <div class="col-xs-24 col-sm-5 row-detail-header">Username</div>
        <div class="col-xs-6 col-sm-4">{{> copylink Content=Username }}</div>
        <div class="col-xs-18 col-sm-15">{{Username}}</div>
    </div>
    {{/if}}
    {{#if Password}}
    <div class="row row-detail">
        <div class="col-xs-24 col-sm-5 row-detail-header">Password</div>
        <div class="col-xs-6 col-sm-4">{{> copylink Content=Password }}</div>
        <div class="col-xs-18 col-sm-15">{{Password}}</div>
    </div>
    {{/if}}
    {{#if UserDefined1}}
    <div class="row row-detail">
        <div class="col-xs-24 col-sm-5 row-detail-header">{{UserDefined1Label}}</div>
        <div class="col-xs-6 col-sm-4">{{> copylink Content=UserDefined1 }}</div>
        <div class="col-xs-18 col-sm-15">{{UserDefined1}}</div>
    </div>
    {{/if}}
    {{#if UserDefined2}}
    <div class="row row-detail">
        <div class="col-xs-24 col-sm-5 row-detail-header">{{UserDefined2Label}}</div>
        <div class="col-xs-6 col-sm-4">{{> copylink Content=UserDefined2 }}</div>
        <div class="col-xs-18 col-sm-15">{{UserDefined2}}</div>
    </div>
    {{/if}}
    {{#if Notes}}
    <div class="row row-detail">
        <div class="col-xs-24 col-sm-9 row-detail-header">Notes</div>
        <div class="col-xs-24 col-sm-15">{{breaklines Notes}}</div>
    </div>
    {{/if}}
</script>

<script id="tmpl-credentialform" type="text/x-handlebars-template">
    @{Html.RenderPartial("_CredentialForm", new CredentialViewModel());}
</script>

<script id="tmpl-deleteconfirmationdialog" type="text/x-handlebars-template">
    <p>Are you sure you want to delete this credential?</p>
</script>

<script id="tmpl-optionsdialog" type="text/x-handlebars-template">
    <p>Enter and confirm a new password:</p>
    <div class="form-horizontal">
        <div class="form-group">
            <label for="NewPassword" class="col-sm-8 control-label">New Password</label>
            <div class="col-sm-16">
                <input type="password" id="NewPassword" name="NewPassword" class="form-control" value="" />
            </div>
        </div>
        <div class="form-group">
            <label for="NewPasswordConfirm" class="col-sm-8 control-label">Confirm New Password</label>
            <div class="col-sm-16">
                <input type="password" id="NewPasswordConfirm" name="NewPasswordConfirm" class="form-control" value="" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-8 col-sm-16">
                <button class="btn btn-primary" id="change-password-button">Change Password</button>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label for="import-data" class="col-sm-8 control-label">Import Data</label>
            <div class="col-sm-16">
                <textarea class="form-control" id="import-data" placeholder="Paste exported JSON data here"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-8 col-sm-16">
                <button class="btn btn-primary" id="import-button">Import Data</button>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label for="export-button" class="col-sm-8 control-label">Export Data</label>
            <div class="col-sm-16">
                <button class="btn btn-primary" id="export-button">Export Data</button>
            </div>
        </div>
    </div>
</script>

<script id="tmpl-exporteddatawindow" type="text/x-handlebars-template">
    <html>
    <head>
        <title>Exported Data</title>
    </head>
    <body style="margin: 0; padding: 0;">
        <textarea style="border: none; width: 100%; height: 600px;">{{json}}</textarea>
    </body>
</html>
</script>

<script id="tmpl-validationmessage" type="text/x-handlebars-template">
    <div id="validation-message"><p>{{{errors}}}</p></div>
</script>

<script id="tmpl-credentialtable" type="text/x-handlebars-template">
    {{#each rows}}
    {{> credentialtablerow}}
    {{/each}}
</script>

<script id="tmpl-credentialtablerow" type="text/x-handlebars-template">
    <div id="{{credentialid}}" class="row">
        <div class="col-sm-15 ccol">
            <button class="btn btn-default btn-block btn-l btn-credential-show-detail">
                <span class="full">{{description}}</span><span class="truncated">{{truncate description 31}}</span>
                <br />
                <span class="label label-std">{{username}}</span>
                {{#if weak}}
                <span class="label label-warning">Weak Password</span>
                {{/if}}
            </button>
        </div>
        <div class="col-xs-8 col-sm-3 ccol">
            {{#if url}}
            <a class="btn btn-primary btn-block btn-credential-open" href="{{url}}" target="_blank">
                <span class="fa fa-fw fa-external-link-square"></span> Web
            </a>
            {{else}}
            <button class="btn btn-primary btn-block btn-credential-open" disabled="disabled">
                <span class="fa fa-fw fa-external-link-square"></span> Web
            </button>
            {{/if}}
        </div>
        <div class="col-xs-8 col-sm-3 ccol">
            <button class="btn btn-primary btn-block btn-credential-copy btn-credential-copy-username">
                <span class="fa fa-fw fa-clone"></span> User
            </button>
            <input type="text" class="copy-content" name="copy-content" value="{{username}}" />
        </div>
        <div class="col-xs-8 col-sm-3 ccol">
            <button class="btn btn-primary btn-block btn-credential-copy btn-credential-copy-password">
                <span class="fa fa-fw fa-clone"></span> Pwd
            </button>
            <input type="text" class="copy-content" name="copy-content" value="{{password}}" />
        </div>
    </div>
</script>