@model Vault.Models.LoginViewModel

<div id="login-form-dialog" class="modal">
    <div class="modal-valign-container">
        <div class="modal-dialog modal-lg modal-valign">
            <div class="modal-content">
                @using (Html.BeginForm("Login", "Main", FormMethod.Post, new { id = "login-form", @class = "form-horizontal" })) {
                <div class="modal-header">
                    <h4 class="modal-title">Log In</h4>
                </div>
                <div class="modal-body">
                    <p>Enter your username and master password:</p>
                    <!-- These fake fields are a workaround for Chrome not respecting the autocomplete attribute and autofilling fields with the wrong values... -->
                    <input class="chrome-autocomplete-fake" type="text" name="chromeusername"/>
                    <input class="chrome-autocomplete-fake" type="password" name="chromepassword"/>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UN1209, new { @class = "col-sm-8 control-label" })
                        <div class="col-sm-16">
                            @Html.PasswordFor(model => model.UN1209, new { @class = "form-control", autocomplete = "un1209" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PW9804, new { @class = "col-sm-8 control-label" })
                        <div class="col-sm-16">
                            @Html.PasswordFor(model => model.PW9804, new { @class = "form-control", autocomplete = "pw9804" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Log In</button>
                </div>
                }
            </div>
        </div>
    </div>
</div>
