@model Vault.Models.LoginViewModel

<div id="login-form-dialog" class="modal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form id="login-form" asp-action="Login" asp-controller="Home" method="post" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title">Log In</h4>
                </div>
                <div class="modal-body">
                    <p>Enter your username and master password:</p>
                    <div class="row mb-md-@(RowMarginMD)">
                        <label asp-for="Username" class="col-md-@(LabelColumnWidthMD) col-form-label @(LabelVisualEffectClasses)"></label>
                        <div class="col-md-@(FieldColumnWidthMD)">
                            <input asp-for="Username" type="text" class="form-control" required />
                            <div class="invalid-feedback">Please enter a username</div>
                        </div>
                    </div>
                    <div class="row mb-md-@(RowMarginMD)">
                        <label asp-for="Password" class="col-md-@(LabelColumnWidthMD) col-form-label @(LabelVisualEffectClasses)"></label>
                        <div class="col-md-@(FieldColumnWidthMD)">
                            <input asp-for="Password" type="password" class="form-control" required />
                            <div class="invalid-feedback">Please enter a password</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="badge rounded-pill bg-danger me-3 d-none">Login Failed</span> <button type="submit" class="btn btn-primary">Log In</button>
                </div>
            </form>
        </div>
    </div>
</div>
