<div id="spinner">
    <img src="~/img/ajax-loader.gif" />
</div>

<div class="row" id="controls">
    <div class="col-sm-16 relative-container">
        <label class="sr-only" for="search">Search</label>
        <input type="text" id="search" name="search" class="form-control" placeholder="Search..." autocomplete="off" />
        <button id="clear-search" class="btn btn-link">
            <span class="fa fa-times"></span>
        </button>
    </div>
    <div class="col-sm-4">
        <label class="sr-only" for="new">New Item</label>
        <button id="new" class="btn btn-primary btn-block">
            <span class="fa fa-plus"></span> New
        </button>
    </div>
    <div class="col-sm-4 hidden-xs">
        <label class="sr-only" for="admin">Admin</label>
        <button id="admin" class="btn btn-default btn-block">
            <i class="fa fa-cog"></i> Admin
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-24" id="container"></div>
</div>

<div id="modal" class="modal" tabindex="-1">
    <div class="modal-valign-container">
        <div class="modal-dialog modal-lg modal-valign">
            <div class="modal-content" id="modal-content"></div>
        </div>
    </div>
</div>
