@model GenerateVaultCredentialViewModel

@{
    ViewBag.Title = "Generate Credentials";
    ViewBag.BodyClass = "modal-open";
}

@section main {

    <div id="generate-form-dialog" class="modal in" style="display: block;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form id="generate-form" action="" method="post" class="form-horizontal">
                    <div class="modal-header">
                        <h4 class="modal-title">Generate Credentials</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="UserID" class="col-sm-8 control-label">User ID</label>
                            <div class="col-sm-16">
                                <input type="text" size="40" id="UserID" name="UserID" value="@Model.UserID" class="form-control" />
                            </div>
                        </div>
                        <p>Enter a username and password to hash:</p>
                        <div class="form-group">
                            <label for="Username" class="col-sm-8 control-label">Username</label>
                            <div class="col-sm-16">
                                <input type="text" size="40" id="Username" name="Username" value="" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Password" class="col-sm-8 control-label">Password</label>
                            <div class="col-sm-16">
                                <input type="text" size="40" id="Password" name="Password" value="" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="HashedUsername" class="col-sm-8 control-label">Hashed Username</label>
                            <div class="col-sm-16">
                                <input type="text" size="40" id="HashedUsername" name="HashedUsername" value="" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="HashedPassword" class="col-sm-8 control-label">Hashed Password</label>
                            <div class="col-sm-16">
                                <input type="text" size="40" id="HashedPassword" name="HashedPassword" value="" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">Generate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

}

@section foot {

    <script src="~/js/dist/generatevaultcredential.js" asp-append-version="true" integrity="sha512-rHxNLH7VGWkTLpQ1FYZAu6SvUDQPUQpDYZrFfz3282zNr7pfUbWO/IeVYRHJoN20NP2JZ5N25r8HUZ8sRNkvhw=="></script>

    <div class="modal-backdrop in"></div>

}
