@model SetDevCookieViewModel

@{
    ViewBag.Title = "Set Dev Cookie";
    ViewBag.BodyClass = "base modal-open";
}

@section main {

    <div id="set-dev-cookie-form-dialog" class="modal show" style="display: block;">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <form id="generate-form" action="" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">Set Dev Cookie</h4>
                    </div>
                    <div class="modal-body">
                        <p>Enter a username and password to put into the dev mode cookie:</p>
                        <div class="row mb-md-@(RowMarginMD)">
                            <label for="Username" class="col-md-@(LabelColumnWidthMD) col-form-label @(LabelVisualEffectClasses)">Username</label>
                            <div class="col-md-@(FieldColumnWidthMD)">
                                <input type="text" size="40" id="Username" name="Username" value="" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-md-@(RowMarginMD)">
                            <label for="Password" class="col-md-@(LabelColumnWidthMD) col-form-label @(LabelVisualEffectClasses)">Password</label>
                            <div class="col-md-@(FieldColumnWidthMD)">
                                <input type="text" size="40" id="Password" name="Password" value="" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">Set Dev Cookie</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

}

@section foot {

    @if (Model.DevMode)
    {
        <script src="~/js/dist/setdevcookie.min.js" asp-append-version="true"></script>
    }
    else
    {
        <script src="~/js/dist/setdevcookie.min.js" asp-append-version="true" integrity="sha512-wJ+GgUiR0UE5ZLA6PcT5gN/zQQCTALdWa8fDqAe0AzSSPJtZYfRg76ebRIf5ETkdx4Sj4qjR72CayHjXybrmZQ=="></script>
    }

    <div class="modal-backdrop show"></div>

}
