.btn-l {
    text-align: left;
}

.btn-lg {
    padding: 11px 16px 10px 16px;
}

.glyphicon {
    top: 3px;
}

#controls {
    display: none;
    padding-top: 15px;
}

#records td {
    border: none;
    padding: 3px 0 0 3px;
}

#records td:first-child {
    padding: 3px 0 0 0;
}

#validation-message {
    color: #a94442;
    font-weight: bold;
}

@media (min-width: 992px) {
    .modal-lg {
        width: 600px;
    }
}