.btn-l {
    text-align: left;
}

.btn-lg {
    padding: 11px 16px 10px 16px;
}

#controls {
    display: none;
    padding-top: 15px;
}

#controls div {
    padding-bottom: 15px;
}

#validation-message {
    color: #a94442;
    font-weight: bold;
}

.table.detail th:first-child {
    padding-left: 0;
}

.table.detail tr:first-child th, .table.detail tr:first-child td {
    border-top: 0;
}

.relative-container {
    position: relative;
}

#clear-search {
    position: absolute;
    right: 14px;
    top: 0;
}

.modal-body {
    overflow: hidden;
}

#spinner {
    padding: 3px 5px 5px 5px; 
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    border-bottom-right-radius: 3px;
    display: none;
}

.full {
    display: none;
}

.label-std {
    color: #808080;
    font-weight: normal;
    padding: .2em .6em .3em 0;
}

.password-strength {
    border: solid 1px #e0e0e0;
    border-radius: 3px;
    position: relative;
}

.password-strength > span {
    position: absolute;
    top: 1px;
    left: 4px;
    font-size: 11px;
}

.password-strength > div {
    border-radius: 3px;
    width: 0;
    height: 16px;
}

.extremely-weak { background-color: #e43e3b; }
.very-weak { background-color: #e66f6d; }
.weak { background-color: #e08056; }
.average { background-color: #de9c41; }
.strong { background-color: #acf36c; }
.very-strong { background-color: #8edd70; }
.extremely-strong { background-color: #5cbb37; }

.modal-valign-container {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}

.modal-valign {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.modal-backdrop.in {
    opacity: 0.8;
}

.chrome-autocomplete-fake {
    display: none;
}

@media (min-width: 500px) {
    .full {
        display: inline;
    }
    .truncated {
        display: none;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 600px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 700px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 700px;
    }
}

.copy-link:hover {
    text-decoration: none;
}

.copied, .copy-link span.copied {
    color: #5cbb37;
}

.copy-content {
    position: absolute;
    top: 0;
    left: -10000px;
}

.generate-password {
    width: 100%;
}

.generate-password-options-toggle {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 11px;
    outline: none !important;
    text-decoration: none;
}

.generate-password-options-toggle:active, .generate-password-options-toggle:focus, .generate-password-options-toggle:hover {
    text-decoration: none !important;
}

.generate-password-options {
    display: none;
}

.btn-credential-show-detail {
    padding-top: 8px;
    display: table-cell;
    height: 62px;
}

.btn-credential-copy, .btn-credential-open {
    padding: 8px 10px 6px 8px;
    line-height: 46px;
    margin-top: 5px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .btn-credential-copy, .btn-credential-open {
        margin-top: 0;
        margin-bottom: 0;
    }
}

#container .row {
    margin-bottom: 3px;
    margin-left: -2px;
    margin-right: -2px;
}

#container .ccol {
    padding-left: 2px;
    padding-right: 2px;
}

.row-detail {
    border-top: solid 1px #e0e0e0;
    padding-top: 8px;
    padding-bottom: 8px;
}

.row-detail:first-child {
    border: none;
    padding-top: 0;
}

.row-detail-header {
    font-weight: bold;
}