.btn-l {
    text-align: left;
}

.btn-lg {
    padding: 11px 16px 10px 16px;
}

.glyphicon {
    top: 3px;
}

#controls {
    display: none;
    padding-top: 15px;
}

#controls div {
    padding-bottom: 15px;
}

#records td {
    border: none;
    padding: 3px 0 0 3px;
}

#records td:first-child {
    padding: 3px 0 0 0;
}

#records .btn {
    height: 60px;
}

.btn-credential-edit, .btn-credential-delete {
    padding: 3px 8px;
}

#validation-message {
    color: #a94442;
    font-weight: bold;
}

.table.detail th:first-child {
    padding-left: 0;
}

.table.detail tr:first-child th, .table.detail tr:first-child td {
    border-top: 0;
}

.relative-container {
    position: relative;
}

#clear-search {
    position: absolute;
    right: 14px;
    top: 0px;
}

.modal-body {
    overflow: hidden;
}

.detail-label {
    width: 120px;
}

.detail-copylink {
    width: 20px;
}

#spinner {
    padding: 3px 5px 5px 5px; 
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    border-bottom-right-radius: 3px;
    display: none;
}

.table>tbody>tr>td.copy-link { 
    padding: 10px 8px 0 8px;
}

.full {
    display: none;
}

.label-std {
    color: #808080;
    font-weight: normal;
    padding: .2em .6em .3em 0;
}

@media (min-width: 500px) {
    .full {
        display: inline;
    }
    .truncated {
        display: none;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        width: 600px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 700px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 700px;
    }
}