body, h1, h2, h3, h4, p, ul, ol, li, form { margin: 0; padding: 0; }
body { font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding: 0 0 0 0; }

#container { width: 520px; margin: 40px auto; }

.display th { text-align: left; }
.display tbody { font-weight: bold; }
.display tbody a { color: #000; }
.display tbody img { border: none; }
.dataTables_info { width: 180px; padding-left: 5px; }
.dataTables_filter { padding-right: 5px; }
.paging_full_numbers { width: 300px !important; }

.ui-dialog-content h2 { margin-top: 10px; }
.ui-dialog-content table { border-collapse: collapse; margin-top: 10px; }
.ui-dialog-content th { width: 150px; vertical-align: top; text-align: right; padding: 6px 20px 10px 0; font-size: 12px; }
.ui-dialog-content td { vertical-align: top; padding: 0 20px 10px 0; font-size: 20px; }
.ui-dialog-content td.notes { font-size: 12px; padding-top: 6px; }

.ui-dialog-content form { overflow: auto; padding-top: 10px; padding-bottom: 20px; }
.ui-dialog-content p { overflow: auto; padding-top: 10px; padding-right: 0; }
.ui-dialog-content label { display: block; width: 130px; float: left; font-weight: bold; text-align: right; padding: 3px 20px 0 0; }
.ui-dialog-content input { width: 250px; float: left; margin-right: 5px; outline: none; }
.ui-dialog-content input.submit { width: 190px; margin-left: 150px; }
.ui-dialog-content textarea { width: 310px; height: 150px; float: left; margin-right: 5px; outline: none; }
.ui-dialog-content select { width: 164px; float: left; }

.ui-dialog-content .chk { font-size: 12px; font-weight: normal; padding-left: 23px; vertical-align: middle; }
.ui-dialog-content .chk input { float: none; margin: 0 10px 0 0; padding: 0; width: 13px; height: 13px; vertical-align: middle; }
.ui-dialog-content .chk label { float: none; display: inline; vertical-align: middle; }

#add-link { padding-top: 20px; text-align: right; }

#validation-message { font-weight: bold; color: #cc0000; padding-bottom: 20px; }
.invalid { background-color: #ff8181; }
.display-link { outline: none; }

#login-form-dialog, #credential-form-dialog { display: none; }

.copy-link { vertical-align: middle; }