body, h1, h2, h3, h4, p, ul, ol, li, form { margin: 0; padding: 0; }
body { font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding: 0 0 0 0; }

#container { width: 520px; margin: 40px auto; }

.display th { text-align: left; }
.display tbody { font-weight: bold; }
.display tbody a { color: #000; }
.display tbody img { border: none; }

.ui-dialog-content h2 { margin-top: 10px; }
.ui-dialog-content table { border-collapse: collapse; margin-top: 10px; }
.ui-dialog-content th { width: 150px; vertical-align: top; text-align: right; padding: 6px 20px 10px 0; font-size: 12px; }
.ui-dialog-content td { vertical-align: top; padding: 0 20px 10px 0; font-size: 20px; }
.ui-dialog-content td.notes { font-size: 12px; padding-top: 6px; }

.ui-dialog-content form { overflow: auto; padding-top: 10px; padding-bottom: 20px; }
.ui-dialog-content p { overflow: auto; padding-top: 10px; padding-right: 0; }
.ui-dialog-content label { display: block; width: 130px; float: left; font-weight: bold; text-align: right; padding: 3px 20px 0 0; }
.ui-dialog-content input { width: 250px; float: left; margin-right: 5px; outline: none; }
.ui-dialog-content input.submit, .ui-dialog-content button.submit { width: 190px; margin-left: 150px; }
.ui-dialog-content textarea { width: 310px; height: 150px; float: left; margin-right: 5px; outline: none; }
.ui-dialog-content select { width: 164px; float: left; }

.ui-dialog-content .chk { font-size: 12px; font-weight: normal; padding-left: 23px; vertical-align: middle; }
.ui-dialog-content .chk input { float: none; margin: 0 10px 0 0; padding: 0; width: 13px; height: 13px; vertical-align: middle; }
.ui-dialog-content .chk label { float: none; display: inline; vertical-align: middle; }

#add-link { padding-top: 20px; text-align: right; }

#validation-message { font-weight: bold; color: #cc0000; padding-bottom: 20px; }
.invalid { background-color: #ff8181; }
.display-link { outline: none; }

#login-form-dialog, #credential-form-dialog { display: none; }

.copy-link { vertical-align: middle; }

/* Begin JQuery UI Smoothness Theme Overrides */

.ui-widget { font-family: Helvetica, Arial, sans-serif; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Helvetica, Arial, sans-serif; }
.ui-widget-content { border: 1px solid #dddddd; background: #ffffff; color: #444444; }
.ui-widget-content a { color: #444444; }
.ui-widget-header { border: 1px solid #dddddd; background: #dddddd; color: #444444; }
.ui-widget-header a { color: #444444; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #dddddd; background: #f6f6f6; font-weight: bold; color: #0073ea; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #0073ea; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #0073ea; background: #0073ea; font-weight: bold; color: #ffffff; }
.ui-state-hover a, .ui-state-hover a:hover { color: #ffffff; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #dddddd; background: #ffffff; font-weight: bold; color: #ff0084; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #ff0084; }

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; -khtml-border-top-left-radius: 2px; border-top-left-radius: 2px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; -khtml-border-top-right-radius: 2px; border-top-right-radius: 2px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; -khtml-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; -khtml-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }

.ui-widget-overlay { background: #000000; opacity: .80;filter:Alpha(Opacity=80); }
.ui-widget-shadow { margin: -4px 0 0 -4px; padding: 4px; background: #aaaaaa; opacity: .60;filter:Alpha(Opacity=60); -moz-border-radius: 0px; -khtml-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }

/* End JQuery UI Smoothness Theme Overrides */