@model dynamic

@{
    ViewBag.Title = "Generate Hash";
    Layout = "~/Views/Shared/Main.cshtml";
}

@section head {

    <script type="text/javascript">

        function generatePassword() {
            $('#Hashed').attr('value', Passpack.utils.hashx($('#Password').val()));
        }

        // The hash is now a full 64 char string
        function generatePassword64() {
            $('#Hashed').attr('value', Passpack.utils.hashx($('#Password').val(), false, true));
        }

    </script>

}

@section main {

    <h2>Generate</h2>

    <form id="generate-form" action="" method="post">
        <p><label for="Password">Password</label> 
        <input type="text" size="40" id="Password" name="Password" value="" /></p>
        <p><label for="Hashed">Hashed</label> 
        <input type="text" size="40" id="Hashed" name="Hashed" value="" /></p>
        <p><input type="button" onclick="generatePassword();" value="Generate" /></p>
	</form>

}

@section endpage {

    <script type="text/javascript" src="@Url.Content("~/")scripts/passpack-v1.1.min.js"></script>

}