@model dynamic

@{
    ViewBag.Title = "Generate Hash";
    Layout = "~/Views/Shared/Main.cshtml";
}

@section head {

    <script type="text/javascript">

        function generatePassword() {
            $('#Hashed').attr('value', Passpack.utils.hashx($('#Password').val()));
        }

        // The hash is now a full 64 char string
        function generatePassword64() {
            $('#Hashed').attr('value', Passpack.utils.hashx($('#Password').val(), false, true));
        }

    </script>

}

@section main {

    <div id="generate-form-dialog">
        <form id="generate-form" action="" method="post">
            <p><label for="Password">Value</label> 
            <input type="text" size="40" id="Password" name="Password" value="" /></p>
            <p><label for="Hashed">Hashed</label> 
            <input type="text" size="40" id="Hashed" name="Hashed" value="" /></p>
            <p><input type="button" class="submit" onclick="generatePassword();" value="Generate" /></p>
	    </form>
    </div>

    <script type="text/javascript">
        $('#generate-form-dialog').dialog({ title: 'Generate', width: 500, modal: true });
    </script>

}

@section endpage {

    <script type="text/javascript" src="/content/js/passpack-v1.1.min.js"></script>

}