@model Vault.Models.SetDevCookieViewModel

@{
    ViewBag.Title = "Set Dev Cookie";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section head {

    <script type="text/javascript">

        function setDevCookie() {
            Cookies.set('vault-dev-username', $('#Username').val());
            Cookies.set('vault-dev-password', $('#Password').val());

            alert('Cookie set');
        }

    </script>

}

@section main {

    <div id="set-dev-cookie-form-dialog" class="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form id="generate-form" action="" method="post" class="form-horizontal">
                    <div class="modal-header">
                        <h4 class="modal-title">Set Dev Cookie</h4>
                    </div>
                    <div class="modal-body">
                        <p>Enter a username and password to put into the dev mode cookie:</p>
                        <div class="form-group">
                            <label for="Username" class="col-sm-8 control-label">Username</label>
                            <div class="col-sm-16">
                                <input type="text" size="40" id="Username" name="Username" value="" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Password" class="col-sm-8 control-label">Password</label>
                            <div class="col-sm-16">
                                <input type="text" size="40" id="Password" name="Password" value="" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" onclick="setDevCookie(); return false;">Set Dev Cookie</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

}

@section foot {

    <script type="text/javascript">
        $('#set-dev-cookie-form-dialog').modal();
    </script>

}