@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Test Suite</title>
    <link rel="shortcut icon" href="/content/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/node_modules/mocha/mocha.css" />
</head>
<body>
    <div id="mocha"></div>
    @Scripts.Render("~/js/external")
    <script src="~/node_modules/mocha/mocha.js"></script>
    <script src="~/node_modules/chai/chai.js"></script>
    <script>mocha.setup('tdd');</script>
    <script src="~/Content/Js/dist/tests.js?@(DateTime.Now.Ticks)"></script>
    <script>
        mocha.checkLeaks();
        mocha.run();
    </script>
</body>
</html>
